@import '../../style/variables';
@import '../../style/mixins';

.hashtag {
  @include resetButtonStyle;

  margin: 4px;
  padding: 4px 12px 6px;
  background-color: $layoutColor;
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: 400;
  box-shadow: 0 2px 1px -1px rgba($black,0.2), 0 1px 1px 0 rgba($black,0.14), 0 1px 3px 0 rgba($black,0.12);
  transition: background-color 0.2s;

  &.active {
    background-color: $primaryColor;
    color: $white;
  }
}
