@import '../../style/mixins';
@import '../../style/variables';

.component {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.scroller {
  overflow-y: scroll !important;

  &::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;

    @include mediaSmMax {
      display: none;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
    background-color: $darkColor;
    transition: background-color 0.2s;
  }

  &::-webkit-scrollbar-track {
    cursor: pointer;
    -webkit-box-shadow: none;
    border-radius: 10px;
  }
}

.line {
  display: flex;
  align-items: flex-start;
}

.item {
  flex: 0 0 100%;
  width: 100%;

  @include mediaSmMin {
    padding-right: 20px;
  }

  @include mediaXs {
    padding-left: 10px;
    padding-right: 24px;
  }

  @include mediaLgMin {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.empty {
  width: 100%;
  position: absolute;
  padding: 3rem 0;
  text-align: center;
  opacity: 0.2;
}

.icon {
  display: inline-block;
  width: 25%;
  height: auto;
  margin: 40px 0 0;
  opacity: 0.5;
}
