@import './reset.scss';
@import './variables.scss';

:root {
  --primary-color: #{$blue};
  --secondary-color: #{lighten($blue, 10)};
  --font-color: #{$grayD};
  --bg-color: #{$grayXXL};
  --layout-color: #{$white};
}

[data-theme="dark"] {
  --primary-color: #{$blue};
  --secondary-color: #{lighten($blue, 10)};
  --font-color: #{$grayXL};
  --bg-color: #{$grayXD};
  --layout-color: #{$grayD};
}

@-ms-viewport {
  width: device-width;
}

html {
  -ms-overflow-style: scrollbar;
}

body {
  overflow-x: hidden;
  font-family: $bodyFont;
  font-size: 16px;
  line-height: 1.375;
  word-wrap: break-word;
  color: $fontColor;
  background-color: $bgColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.2s;
  transition-timing-function: ease;
}

a {
  text-decoration: underline;
  color: inherit;
}

b {
  font-weight: 800;
}
