$bodyFont: 'Open Sans', sans-serif;

$black: #000;
$white: #FFF;
$grayXD: #212121;
$grayD: #333;
$gray: #424242;
$grayL: #C7C7C7;
$grayXL: #E0E0E0;
$grayXXL: #F5F5F5;
$blue: #1976D2;
$yellow: #FFEB3B;

$primaryColor: var(--primary-color);
$secondaryColor: var(--secondary-color);
$fontColor: var(--font-color);
$bgColor: var(--bg-color);
$layoutColor: var(--layout-color);
$darkColor: var(--dark-color);
