@import '../../style/variables';
@import '../../style/mixins';

.component {
  @include resetButtonStyle;

  position: relative;
  width: 100%;
  background-color: $layoutColor;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgba($black,0.2), 0 1px 1px 0 rgba($black,0.14), 0 1px 3px 0 rgba($black,0.12);
  text-align: left;
  overflow: hidden;
  transition: background-color 0.2s, box-shadow 0.2s;

  &:hover {
    box-shadow: 0 3px 3px -2px rgba(0,0,0,0.2), 0 3px 4px 0 rgba(0,0,0,0.14), 0 1px 8px 0 rgba(0,0,0,0.12);
  }
}

.thumbnail {
  position: relative;
  width: 100%;
  line-height: 0;

  &:before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    user-select: none;
    object-fit: cover;
    object-position: center;
  }
}

.caption {
  padding: 1rem;

  p {
    height: 3em;
    overflow: hidden;
    line-height: 1.5;
    font-size: 12px;
    text-overflow: ellipsis;
  }
}

.icon {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}
